body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
.wrapper-ratio {
	position: relative;
	width: 100vw;
	height: 150vw;
	/*background: blue;*/
}
@media (min-aspect-ratio: 2/3) { /* to wide */
	.wrapper-ratio {
		position: relative;
		width: 66.66vh;
		height: 100vh;
		margin: 0 auto;
		/*background: red;*/
	}
}
.element {
	position: absolute;
	padding: 0px;
	/*background: yellow;*/
}
.centered-text-box {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 8vmin;
}
img {
	position: absolute;
	width: 100%;
	height: 100%;
}
.element-wrapper, .img-border {
	position: absolute;
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
}
.element-wrapper {
	background: black;
}
.img-border {
	background: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}