button,
input,
select {
  font-size: 1.25em;
  border: 2px solid var(--theme-color);
  border-radius: 4px;
  margin: 4px;
  padding: 4px 8px;
}

.input-section {
  margin: 8px 0;
}

label {
  font-size: 1em;
  display: block;
  width: calc(100% - 8px);
  margin: 0 4px;
  text-align: left;
}

button:not(.no-button-styling) {
  background-color: var(--theme-color);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:not(.no-button-styling):hover,
button:not(.no-button-styling):focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  filter: brightness(110%);
  transition: 0.2s;
  outline: none;
}
button:not(.no-button-styling):active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  filter: brightness(125%);
  transition: 0.2s;
}

button.fg-btn {
  background-color: rgba(0, 0, 0, 0);
  color: var(--theme-color);
  box-shadow: none;
  border: none;
}
button.fg-btn:hover, button.fg-btn:focus {
  box-shadow: none;
  background-color: rgba(var(--theme-color-rgb), 0.1);
}
button.fg-btn:active {
  box-shadow: none;
  background-color: rgba(var(--theme-color-rgb), 0.3);
}

input {
  width: calc(100% - 28px); /* subtract margin, border and padding */
  background-color: inherit;
  color: inherit;
  border-color: var(--input-border-color);
}
input:focus {
  border-color: var(--theme-color);
  box-shadow: 0px 0px 1px 1px var(--theme-color);
  outline: none;
  transition: 0.2s;
}

input[type="radio"],
input[type="checkbox"] {
  width: initial;
}

select {
  width: calc(100% - 8px); /* subtract margin */
  background-color: inherit;
  color: inherit;
  border-color: var(--input-border-color);
}
select:focus {
  border-color: var(--theme-color);
  box-shadow: 0px 0px 1px 1px var(--theme-color);
  transition: 0.2s;
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.inline-svg-icon {
  position: relative;
  height: 1.2em;
  margin-bottom: -1em;
  top: -0.8em;
}
.large-icon {
  margin: 1em;
  height: 30vh;
  max-width: calc(75vw - 2em);
  top: 0;
}

.pointer-cursor {
  cursor: pointer;
}
